body{
    background: hsl(0, 0%, 90%);
    color: #25282B;
    text-align: center;
}
body img{

}
button{
    background: none;
    border: none;
    color:#ff5E84;
    font-weight: bold;
}
p{    
    font-size: 14px;
}
.fat{ /* ponto é sempre para classe! */
    /* button.fat => o botão que leva à classe fat; é diferente de:button . fat => tem um fat dentro de um button! */
    color: white;
    background: #ff5E84;
}
#footer a { /* # é sempre para id! estilização somente no link! */
    color: #25282B;
    text-decoration: none;
}
.hide{
    display: none;
}